.slider, .slide {
  margin: 0rem auto;
  width: 90%;
  height: 80vh;
}

.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
    color: black;
}

.btn:active { transform: scale(1.1); }

.btn-prev {
    top: 45%;
    left: 2%; 
}
  
.btn-next {
    top: 45%;
    right: 2%;
}

@media screen and (width <=1200px) {
  .slider, .slide {
    height: 80vh;
  }
}

@media screen and (width <=992px) {
  .slider, .slide {
    height: 60vh;
  }
}

@media screen and (width <=600px) {
  .slider, .slide {
    height: 30vh;
  }
}